<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbsstep.mapper.TActiveMapper" >
  
  
 
  
  
  <select id="selectSumActive" resultType="java.lang.Integer">
   	select count(*)
	from t_active 
	where isdelete!=1
  </select>
  
  <select id="selectMonthActive" resultType="java.lang.Integer">
   	select count(*)
	from t_active 
	where year(createdate)=year(now()) 
   		and month(createdate)=month(now())
		and isdelete!=1
  </select>
  
  <select id="selectDayActive" resultType="java.lang.Integer">
   	select count(*)
	from t_active
	where year(createdate)=year(now()) 
   		and month(createdate)=month(now())
   		and day(createdate)=day(now())
		and isdelete!=1
  </select>
  <select id="selectActiveByCity" resultType="com.bbsstep.po.ActiveBean" parameterType="string">
    <![CDATA[
    select id, userid, activename, type, startdate, enddate, province, city, address, 
    	longitude, latitude, radius, addr, praise, steps, activestatus, activepower, createdate, 
    	updatedate, activesex, joinnum, cost, commission, username, nickname, typeName, content,hxgroupid,isdelete
    	,requireName,requireComp,requirePosition,
  	    requireMobile,display_order,maxnum,iconurl
    from view_active_infor
    where isdelete!=1 and city=#{cityName}
    
    ]]>
    <!-- and enddate>=now()-->
  </select>
  
  <!-- 查询所有热点活动 -->
  <select id="selectHotActiveList" resultType="com.bbsstep.po.ActiveBean" parameterType="com.bbsstep.util.DataTablePageUtil">
    select 
        v.id, v.userid, activename, type, startdate, enddate, province, city, address, 
    	longitude, latitude, radius, addr, praise, steps, activestatus, activepower, createdate, 
    	updatedate, activesex, joinnum, cost, commission, username, nickname, typeName, content,hxgroupid,v.isdelete
    	,requireName,requireComp,requirePosition,
  	  requireMobile,display_order,maxnum,iconurl
    from view_active_infor v
    where v.isdelete!=1
    <if test="condition.title !=null">
       and activename like CONCAT('%',#{condition.title}, '%')
    </if>
    <if test="condition.city !=null">
    	and city like CONCAT('%',#{condition.city}, '%')
    </if>
    <if test="condition.type !=null">
        and type=#{condition.type}
    </if>
    <if test="search != null">
    	and ( 
    	  activename like CONCAT('%',#{search}, '%') or province like  CONCAT('%',#{search}, '%') or
    	  address like CONCAT('%',#{search}, '%') or addr like  CONCAT('%',#{search}, '%') or
    	  typeName like  CONCAT('%',#{search}, '%')
    	)
    </if>
    order by display_order desc,praise desc
    limit #{start},#{length}
  </select>
  
   <select id="selectNumHotActiveList" resultType="java.lang.Integer" parameterType="com.bbsstep.util.DataTablePageUtil">
    select count(*)
    from view_active_infor 
    where isdelete!=1
    <if test="condition.title !=null">
       and activename like CONCAT('%',#{condition.title}, '%')
    </if>
    <if test="condition.city !=null">
    	and city like CONCAT('%',#{condition.city}, '%')
    </if>
    <if test="condition.type !=null">
        and type=#{condition.type}
    </if>
    <if test="search != null">
    	and ( 
    	  activename like CONCAT('%',#{search}, '%') or province like  CONCAT('%',#{search}, '%') or
    	  address like CONCAT('%',#{search}, '%') or addr like  CONCAT('%',#{search}, '%') or
    	  typeName like  CONCAT('%',#{search}, '%')
    	)
    </if>
  </select>
  
</mapper>